---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import demoImage from "../assets/isitworthitlp.png";
import demoVideo from "../assets/demo.mp4";
---

<Layout title="Welcome to Astro.">
  <main class="pt-24">
    <div class="leading-10">
      <h2
        class="text-2xl font-medium animate__animated animate__fadeIn dark:text-light"
      >
        Welcome to <u>is it worth it</u>
      </h2>
      <p class="animate__animated animate__fadeIn dark:text-light">
        This is a simple website that helps you decide if a decision is worth it
        or not.
      </p>
    </div>
    <div class="mt-20">
      <video controls muted class="border-2 rounded-lg p-0.5">
        <source src={demoVideo} type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
  }
</style>
