---
import Layout from "../../layouts/Layout.astro";
import Input from "./components/Input.astro";
import List from "./components/List.astro";
import Analysis from "./components/Analysis.astro";

export type TList<T> = {
  id: string;
  title: string;
  type: T;
};

export enum EListType {
  PROS = "pros",
  CONS = "cons",
}

const list: TList<EListType.PROS | EListType.CONS>[] = [];
const pros: TList<EListType.PROS>[] = [];
const cons: TList<EListType.CONS>[] = [];
---

<Layout>
  <main class="pt-20">
    <div
      class="flex items-center justify-center flex-col mb-24 animate__animated animate__backInDown"
    >
      <h2
        class="text-black font-bold text-center block dark:text-light"
        id="title"
      >
        Enter what you compare <span class="block"
          >(e.g. Is worth to buy a new car?)</span
        >
      </h2>
      <Input class="hidden" id="title_input" />
    </div>
    <div class="animate__animated animate__fadeInUp">
      <div class="grid grid-cols-2 overflow-y-auto h-auto max-h-[80%]">
        <List
          container_id="add_pros"
          container_title="Pros"
          container_btn_text="Add Pro"
          list={list}
          pros={pros}
        />
        <List
          container_id="add_cons"
          container_title="Cons"
          container_btn_text="Add Cons"
          list={list}
          cons={cons}
        />
      </div>
      <Analysis />
    </div>
  </main>
</Layout>

<style>
  main {
    height: 100%;
    margin: auto;
    width: 1200px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    max-height: 80%;
  }
</style>

<script>
  let titleValue = "";
  const title = document.getElementById("title");
  const input = document.getElementById("title_input");

  const toggleInput = () => {
    input?.classList.toggle("hidden");
    title?.classList.toggle("hidden");

    input?.focus();
  };

  title?.addEventListener("click", toggleInput);

  const onBlur = () => {
    toggleInput();

    if (titleValue === "") {
      titleValue = "Enter what you compare";
    }

    title!.innerText = titleValue;
  };

  let enterPressed = false;

  input?.addEventListener("blur", () => {
    if (!enterPressed) {
      onBlur();
    }

    enterPressed = false;
  });

  input?.addEventListener("keydown", (e) => {
    if (e.key === "Enter") {
      enterPressed = true;
      onBlur();
    }
  });

  input?.addEventListener("input", (e) => {
    const target = e.target as HTMLInputElement;

    titleValue = target.value;
  });
</script>
